@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/fondo.PNG" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4">Residencia Femenina Alfoncina Storni</h3>
                <h3>Acerca de nosotros:</h3>
                <p>La residencia Femenina Alfoncina Storni se fundo el 15 de septiembre de 1992 por avellaneda 640 con el fin de resguardar los derechos fundamentales a aquellos niños y adolecentes que sus derechos fueron vulnerados.</p>
            </div>
        </div>
    </div>
</div>


